body {
	height: 100vh;
	background-image: url(../images/background-3.jpg);
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

header {
	margin: 0 auto;
	padding: 15px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #453889;
	height: 80px;
	border: 2px solid white;
	border-radius: 50px;
}

h1 {
	font-family: 'Monoton', cursive;
	font-size: 4.5em;
	color: white;
	text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 
	0 -2px purple;
}

h2, h3, #instructions p {
	font-family: 'Quicksand', sans-serif;
	text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 
	0 -1px purple;
	color: black;
	text-align: center;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.5em;
}

#instructions p {
	font-size: 1em;
	font-weight: bold;
	text-shadow: -0.3px 0 purple, 0 0.3px purple, 0.3px 0 purple, 
	0 -0.3px purple;
	text-align: left;
}

#instructions, #crystals, #scores, #results, #note {
	padding: 15px;
	background-color: #A59FD5;
	border: 2px solid white;
	border-radius: 50px;
	position: relative;
	float: right;
}

#instructions {
	width: 268px;
	float: left;
	top: 20px;
	left: 25px;
}

#note, #crystals {
	width: 568px;
	left: -30px;
	top: 30px;
}

#crystals {
	top: 68px;
}

.crystalPics {
	width: 130px;
	height: 130px;
	border-radius: 40px;
	float: left;
	margin-right: 10px;
}

#amethyst {
	border: 2px solid purple;
	margin-left: 1px;
}

#emerald {
	border: 2px solid green;
}

#sapphire {
	border: 2px solid blue;
}

#ruby {
	border: 2px solid red;
	margin-right: 0px;
}

#scores {
	width: 320px;
}

#results {
	width: 160px;
	right: -324px;
	bottom: -105px;
}

#scores {
	padding-top: 19px;
	padding-bottom: 19px;
	left: -278px;
	top: 107px;
}