body {
	height: 100vh; /*100% of viewport*/
	background-image: url(../images/background-3.jpg); /*link background image*/
}

.wrapper {
	width: 1000px; /*initial width*/
	margin: 0 auto; /*centered horizontally*/
}

header {
	padding: 15px; 
	padding-bottom: 5px; /*text centered vertically*/
	text-align: center; /*and horizontally*/
	background-color: #453889;
	height: 80px;
	border: 2px solid white;
	border-radius: 50px;
}

h1 {
	font-family: 'Monoton', cursive; /*google fonts*/
	font-size: 4.5em;
	color: white;
	text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 
	0 -2px purple; /*text border*/
}

h2, h3, #instructions p {
	font-family: 'Quicksand', sans-serif; /*google fonts*/
	text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 
	0 -1px purple; /*text border*/
	color: black;
	text-align: center;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.5em;
}

#instructions p {
	font-size: 1em;
	font-weight: bold;
	text-shadow: -0.3px 0 purple, 0 0.3px purple, 0.3px 0 purple, 
	0 -0.3px purple;
	text-align: left;
}

#instructions, #crystals, #scores, #results, #note {
	padding: 15px;
	background-color: #A59FD5;
	border: 2px solid white;
	border-radius: 50px;
	position: relative; /*positioning all 5 sections relative to themselves*/
	float: right;
}

#instructions {
	width: 268px;
	float: left;
	top: 20px;
	left: 25px;
}

#note, #crystals {
	width: 568px;
	left: -30px;
	top: 30px;
}

#crystals {
	top: 68px;
}

.crystalPics {
	width: 130px;
	height: 130px;
	border-radius: 40px;
	float: left; /* pictures in horizontal row */
	margin-right: 10px; /* spacing equally */
}

#amethyst {
	border: 2px solid purple;
	margin-left: 1px; /* centering all 4 pics */
}

#emerald {
	border: 2px solid green;
}

#sapphire {
	border: 2px solid blue;
}

#ruby {
	border: 2px solid red;
	margin-right: 0px; /* centering all 4 pics */
}

#results {
	width: 160px;
	right: -324px;
	bottom: -105px;
}

#scores {
	width: 320px;
	padding-top: 19px; /*centering text vertically/matching height of results*/
	padding-bottom: 19px;
	left: -278px;
	top: 107px;
}

@media screen and (max-width: 1020px) {
	.wrapper {
		width: 750px;
	}

	#instructions {
		width: 220px;
		left: 0px;
	}

	#note, #crystals {
		width: 450px;
		left: 0px;
		top: 50px;
	}

	#crystals {
		top: 88px;
	}

	#scores {
		width: 260px;
		left: -189px;
		top: 128px;
	}

	#results {
		width: 120px;
		right: -295px;
		bottom: -126px;
	}

	header {
		padding-bottom: 0px;
		height: 70px;
	}

	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.3em;
	}

	#instructions p {
		font-size: 0.9em;
	}

	.crystalPics {
		height: 100px;
		width: 100px;
	}

@media screen and (max-width: 768px) {
	.wrapper {
		width: 600px;
	}

	#instructions {
		width: 600px;
		left: 0px;
		top: 10px;
		float: none;
	}

	#note, #crystals {
		width: 360px;
		left: 0px;
		top: 35px;
		float: none;
	}

	#note {
		height: 25px;
		padding-top: 25px;
	}

	#crystals {
		height: 88px;
		top: 50px;
		border-radius: 45px;
		overflow: auto;
	}

	#scores {
		width: 180px;
		left: 420px;
		top: -153.5px;
		float: none;
	}

	#scores h2 {
		font-size: 1.05em;
	}

	#results {
		width: 180px;
		right: -420px;
		top: -141px;
		float: none;
	}

	header {
		padding-bottom: 0px;
		height: 70px;
		width: 600px;
	}

	h1 {
		font-size: 2.9em;
	}

	h2 {
		font-size: 1.2em;
	}

	h3 {
		font-size: 1.05em;
	}

	#instructions p {
		font-size: 0.8em;
		text-align: center;
	}

	.crystalPics {
		height: 78px;
		width: 78px;
		border-radius: 20px;
	}
}